:root {
  --mono-6: #232323;
  --mono-5: #383838;
  --mono-4: #595959;
  --mono-3: #bdbdbd;
  --mono-2: #e0e0e0;
  --mono-1: #f2f2f2;
  --green-dark: #627253;
  --green-light: #88a170;
  --yellow-dark: #c9aa7a;
  --yellow-light: #dac6a9;
  --cream: #e8dbd5;
  --red-dark: #a94744;
  --red-light: #e09690;
  /* --blue-dark: #569cd6; */
  /* --blue-light: #9cdcfe; */
}

body {
  background-color: var(--cream);
  color: var(--mono-6);
  font-family: "Spectral", serif;
  margin: 0 auto;
}

a {
  color: var(--red-dark);
}
a:hover {
  color: var(--red-light);
}
