.edge {
  color: var(--green-dark);
}
.edge:hover {
  color: var(--green-light);
}

.blockquote {
  font-size: 14px;
  margin-inline-start: 0;
  padding-left: 8px;
}

.heading {
  font-family: "Averia Serif Libre", cursive;
}

.img {
  width: 100%;
}

.p > code {
  font-family: "Inconsolata", monospace;
}

.pre {
  padding-left: 8px;
}
.pre > code {
  font-family: "Inconsolata", monospace;
  font-size: 12px;
}
