.header {
  padding: 8px 16px;
}

.avatar {
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 2px var(--red-dark);
  display: flex;
  font-family: "Averia Serif Libre", cursive;
  font-size: 18px;
  height: 36px;
  justify-content: center;
  text-decoration: none;
  width: 36px;
}
.avatar:hover {
  color: var(--cream);
  background-color: var(--red-dark);
}

.center {
  display: flex;
  justify-content: center;
}

.content {
  width: 720px;
  margin-bottom: 24px;
}

.socials {
  font-size: 14px;
  list-style: none;
  padding-inline-start: 0;
  width: 720px;
  padding-bottom: 48px;
}

@media screen and (max-width: 752px) {
  .header {
    padding: 8px 8px;
  }
}

@media screen and (max-width: 720px) {
  .center {
    display: block;
    margin-left: 8px;
    margin-right: 8px;
  }

  .content {
    width: 100%;
  }

  .socials {
    width: 100%;
  }
}
