.header {
  padding: 8px 16px;
}

.avatar {
  align-items: center;
  background-color: var(--mono-5);
  border-radius: 50%;
  color: var(--mono-4);
  display: flex;
  font-family: "Averia Serif Libre", cursive;
  font-size: 18px;
  height: 36px;
  justify-content: center;
  text-decoration: none;
  width: 36px;
}
.avatar:hover {
  color: var(--mono-3);
}

.center {
  display: flex;
  justify-content: center;
}

.content {
  color: var(--mono-2);
  width: 720px;
  margin-bottom: 24px;
}

@media screen and (max-width: 720px) {
  .center {
    display: block;
    margin-left: 8px;
    margin-right: 8px;
  }

  .content {
    width: 100%;
  }
}
