.list {
  padding-inline-start: 0;
}

.item {
  display: block;
}

.label {
  width: 100%;
  color: var(--yellow-dark);
  display: flex;
  font-family: "Averia Serif Libre", cursive;
  justify-content: space-between;
  padding-bottom: 4px;
}
.label:hover {
  color: var(--yellow-light);
}
